.Body {
  width: 100%;
  height: 600px;
  position: fixed;
  margin: auto;
  background-image: url("../Img/d4.jpg");
  background-Position: center;
  background-Size: cover;
  background-Repeat: no-repeat;
}

.Search {
  margin: 2% auto;
  width: 55%;
  background-color: #562992;
  padding: 1%;
  text-align: center;
  color: red;
  font-size: 40px;
  border-radius: 10px;
  direction: rtl;
}

.Search input {
  margin: 0 5px;
  width: 130px;
  height: 62px;
  border-radius: 5px;
  padding-right: 5px;
}

.Search button {
  margin: 0 5px;
  width: 100px !important;
  height: 60px !important;
  border-radius: 5px;
  background-color: #8b0740;
}

.Search button:hover {
  background-color: red;
  color: yellow;
  transition: color 5s, background-color 6s;
  -webkit-transition: color 5s, background-color 6s;
  -moz-transition: color 5s, background-color 6s;
  -o-transition: color 5s, background-color 6s;
}

.TitleBoby, .Nav_box {
  width: 60%;
  margin: 14%  auto 0px;
  color: white;
  font-size: 60px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: center;
  color: red;
  font-size: 40px;
}

.Nav_box {
  border: white 1px solid;
  width: 150px;
  float: right;
  margin: 35px 30px;
  color: white;
  border-radius: 10px;
  text-align: right;
}

img {
  width: 100px;
  height: 100px;
}

.userIcon {
  background-image: url("../Img/top-section-sprite.png");
  width: 14px;
  height: 14px;
  background-position: -51px -253px;
  margin-left: 10px;
  float: right;
}
/*# sourceMappingURL=Body.css.map */