@import "./Color.scss";
@function fontsize($fsize) {
  @return $fsize * 2;
}
.Body {
  width: 100%;
  height: 600px;
  //position: fixed;
  margin: auto;
  background-image: url("../Img/d4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin Textalign($color: red) {
  text-align: center;
  color: $color;
  font-size: 40px;
}
@mixin transition($params...) {
  transition: $params;
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
}
@mixin center {
  margin: 2% auto;
  width: 55%;
  direction: rtl;
  text-align: center;
}
.Search {
  @include center();
  //background-color: rgba(0, 0, 0, 0.5);
  //background-color:transparentize($color: #000000, $amount: 0.5) ;
  background-color: mix(#252fc5, #c91a1a, 70%);
  padding: 1%;
  //@include Textalign();
  //opacity:0.9;
  border-radius: 10px;

  input {
    margin: 0 5px;
    width: 130px;
    height: 62px;
    border-radius: 5px;
    padding-right: 5px;
  }
  button {
    margin: 0 5px;
    width: 100px !important;
    height: 60px !important;
    border-radius: 5px;
    background-color: darken(
      $color: (
        $primeryColor
      ),
      $amount: 20%
    );

    &:hover {
      background-color: red;
      color: yellow;
      //@include transition(color 5s,background-color 6s )
    }
  }
}
.GroupList {
  @include center();

  figure {
    display: inline;
  }
}
.TitleBoby {
  width: 60%;
  margin: 14% auto 0px;
  color: $FontColor + 1000;
  font-size: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  //@include Textalign();
}
.Nav_box {
  // @extend .TitleBoby;
  border: white 1px solid;
  width: 150px;
  float: right;
  margin: 35px 30px;
  color: white;
  border-radius: 10px;
  text-align: right;
}
.logo {
  width: 100px;
  height: 100px;
  filter: brightness(0) invert(1);
}
.userIcon {
  background-image: url("../Img/top-section-sprite.png");
  width: 14px;
  height: 14px;
  background-position: -51px -253px;
  margin-left: 10px;
  float: right;
}
.boxinside {
  position: absolute;
  width: 105px;
  height: 105px;
  margin-left: 25%;
  background-color: rgba($color: #949494, $alpha: 0.5);
  top: 45px;
  border: 1px solid rgba($color: #f7f3f3, $alpha: 0.5);
  color:$FontColor+1000;

}
.catalog-content{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: center;
}
.img-catalog{
  width: 100% !important;
  height: 100px !important;
}
.catalog-title{
  padding: 68px 0 0 0;
  text-align: center;
  color:$FontColor !important;
  font-weight: 600;
  z-index: 9999;
}
.catalog-Address{
direction: rtl;
font-size: 10px;

margin-right: 5px;
}
.btn-catalog-send{
  margin:10px;
}
.productsAlign{
  direction: rtl;
}
.img-product{
 height: 185px;


}
.product-total{
  text-align: center;
  height: 300px;
    max-height: 300px;
    border: 1px solid #dbdbdb;
}
.title-price{
  margin:30px;
}
.product-price{
  height: 30px;
  background-color: rgb(236, 234, 234);
  border: 1px solid #dbdbdb;
}
.add-product{
  width: 100% !important;
  height: 100px !important;
}
.plusIcon{
  float: left;
    margin-left: 5px;
    color: red;
    cursor: pointer;
}
.title-cart{
background-color: rgb(226, 226, 226);
text-align: center;
border: 1px solid #dddddd;
}
.shoping-cart{
  text-align: center;
  border: 1px solid #dddddd;
}
.al{
  float: left;
}